body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #2b2b2b;
}

.board {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
}

/* HOME BLOCKS */
.home {
    border: 4px solid white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 20px;
}

.yellow { background: #f4e242; }
.red { background: #ff4d4d; }
.green { background: #2bb64b; }
.blue { background: #2274ff; }

/* CIRCLES */
.circle {
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: auto;
}

/* CENTER */
.center {
    background: white;
    border: 4px solid black;
}

/* PATHS */
.path {
    display: grid;
    background: white;
    border: 2px solid #000;
}

.red-path    { grid-template-columns: repeat(6, 1fr); grid-template-rows: repeat(3, 1fr); }
.green-path  { grid-template-columns: repeat(6, 1fr); grid-template-rows: repeat(3, 1fr); }
.yellow-path { grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(6, 1fr); }
.blue-path   { grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(6, 1fr); }

.path div {
    border: 1px solid #999;
}

/* FILL COLOR */
.red-path .fill { background: red; }
.green-path .fill { background: green; }
.yellow-path .fill { background: yellow; }
.blue-path .fill  { background: blue; }
